* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: 'Lexend', sans-serif;
  overscroll-behavior: none;
  font-variation-settings: normal;
  font-feature-settings: normal;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-moz-selection {
  color: #121315;
  background: #9724eb;
}

::selection {
  color: #000000;
  background: #9724eb;
}

html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.c-scrollbar_thumb {
  background: #000000;
  opacity: 1;
}

@font-face {
  font-family: dirtyline;
  src: url(../../fonts/Dirtyline\ 36daysoftype\ 2022.woff2);
}
@font-face {
  font-family: syneM;
  src: url(../../fonts/Syne-Medium.ttf);
}
@font-face {
  font-family: syneR;
  src: url(../../fonts/Syne-Regular.ttf);
}
.heading {
  position: relative;
  line-height: 90%;
}
.heading .fade {
  opacity: 0.2;
  position: relative;
}
.heading .fill {
  opacity: 1;
  color: #8110f6;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  line-height: 90%;
  font-size: 8rem;
  font-family: Lexend;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  font-family: Lexend;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 90%;
}

h3 {
  font-size: 4rem;
  font-family: Lexend;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 110%;
}

h4 {
  font-size: 2.2rem;
  font-family: Lexend;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 90%;
}

h5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
}

p {
  font-size: 1.1rem;
  line-height: 140%;
}

.smallT {
  font-size: 0.8rem;
  line-height: 140%;
}

@media (min-width: 1800px) {
  .smallT {
    font-size: 1rem;
  }
  p {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 10rem;
  }
}
@media (max-width: 1440px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h5 {
    font-size: 1.8rem;
  }
}
@media (max-width: 780px) {
  h1 {
    font-size: 5.3rem;
  }
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.4rem;
  }
  .smallT {
    font-size: 1.2rem;
  }
}
@media (max-width: 520px) {
  h1 {
    font-size: 15vw;
  }
  h2 {
    font-size: 10vw;
  }
  h3 {
    font-size: 8vw;
  }
  h4 {
    font-size: 6vw;
  }
  h5 {
    font-size: 4vw;
  }
  p {
    font-size: 1rem;
  }
  .smallT {
    font-size: 0.8rem;
  }
}
.mT5 {
  margin-top: 5rem;
}

.mT3 {
  margin-top: 3rem;
}

.mT2 {
  margin-top: 2rem;
}

@media (max-width: 520px) {
  .mT5 {
    margin-top: 3.4rem;
  }
}
#container {
  width: 100%;
  padding: 0 5.2rem;
}

a {
  text-decoration: none;
  color: #000000;
}

section {
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 1920px) {
  #container {
    padding: 0 8.5rem;
  }
}
@media (max-width: 1040px) {
  #container {
    padding: 0 3rem;
  }
}
@media (max-width: 520px) {
  #container {
    padding: 0 1rem;
  }
}
.intro {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .intro_wrapper {
  position: relative;
  overflow: hidden;
}
.intro .intro_wrapper .inFix {
  opacity: 1;
  color: #ffffff;
}
.intro .intro_wrapper .inFill {
  position: absolute;
  width: 0;
  color: #8110f6;
  top: 0%;
  left: 0%;
  overflow: hidden;
}

.intro-br {
  display: none;
}

@media (max-width: 1140px) {
  .intro-br {
    display: inline;
  }
}

.canvas-wrapper {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.canvas-wrapper #fluid {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  background: #68db14;
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
  border-radius: 50%;
  z-index: 999999;
  pointer-events: none;
}

@media (max-width: 520px) {
  .cursor {
    opacity: 0;
  }
}
#main .hero {
  padding: unset;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1.5rem 0 0 0;
  background: transparent;
}
nav #container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lexend, sans-serif;
}
nav #container .hamburger p,
nav #container .hamburger .toggle,
nav a img {
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
nav #container h2 {
  font-size: 2rem;
  font-weight: 400;
}
nav #container .hamburger {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav #container .hamburger p {
  font-size: 1rem;
}
nav #container .hamburger .toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*transition: transform 0.3s ease;*/
}
nav #container .hamburger .toggle span.top,
nav #container .hamburger .toggle span.bottom {
  width: 20px;
  height: 2px;
  background-color: #000000;
}
nav #container .hamburger .toggle span.bottom {
  margin-top: 5px;
}

body.menu-open nav #container h2,
body.menu-open nav #container .hamburger p {
  color: white;
}

body.menu-open nav #container .hamburger .toggle {
  border-color: white;
}

body.menu-open nav #container .hamburger .toggle span {
  background-color: white;
}

nav a {
  position: relative;
  display: block;
  height: 40px;
}

nav a img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 15rem;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

nav a img.black-logo {
  display: block;
  width: 15rem;
}

nav a img.black-logo {
  opacity: 1;
  visibility: visible;
}

nav a img.white-logo {
  opacity: 0;
  visibility: hidden;
}


body.menu-open {
  transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

body.menu-open nav a img.black-logo {
  opacity: 0;
  visibility: hidden;
}

body.menu-open nav a img.white-logo {
  opacity: 1;
  visibility: visible;
}

nav #container .hamburger p {
  color: black;
  transition-delay: 0.1s;
}

nav #container .hamburger .toggle {
  border-color: black;
}

nav #container .hamburger .toggle span {
  background-color: black;
  transition: inherit;
}

body.menu-open nav #container .hamburger p {
  color: white;
  transition-delay: 0s;
}

body.menu-open nav #container .hamburger .toggle {
  border-color: white;
}

body.menu-open nav #container .hamburger .toggle span {
  background-color: white;
}


/* Fullscreen Container */
.menu {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: #000000;
  height: 100vh;
  width: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu #container {
  width: 100%;
  max-width: 1400px;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu #container .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu #container .left a {
  font-size: 5.5rem;
  line-height: 100%;
  color: #ffffff;
  font-family: Lexend;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition: margin 0.3s ease-in-out;
  font-weight: 700;
  text-transform: uppercase;
}
.menu #container .left a::before {
  position: absolute;
  content: attr(data-text);
  color: #8110f6;
  height: 100%;
  top: 0;
  left: 0;
  width: 0;
  transition: 0.5s all linear;
  overflow: hidden;
  z-index: 100;
}
.menu #container .left a:hover {
  margin-left: 3rem;
}
.menu #container .left a:hover::before {
  width: 100%;
}
.menu #container .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.menu #container .right a {
  font-size: 1.2rem;
  color: #ffffff;
}
.menu #container .right .social_cnt {
  padding-top: 1rem;
}
.menu #container .right .social_cnt img {
  width: 42px;
  cursor: pointer;
}

.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(31, 31, 31);
  opacity: 0;
  z-index: 5;
}

@media (max-width: 780px) {
  .menu #container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5rem;
  }
  .menu #container .left a {
    font-size: 4.5rem;
  }
  .menu #container .right {
    align-items: flex-start;
  }
  .menu #container .right a {
    font-size: 1.6rem;
  }
  .menu #container .right .social_cnt {
    padding-top: 1rem;
  }
  .menu #container .right .social_cnt img {
    width: 56px;
  }
}
@media (max-width: 520px) {
  nav {
    padding: 1rem 0 0 0;
  }
  nav #container h2 {
    font-size: 1.6rem;
  }
  .menu #container {
    gap: 2rem;
    margin-top: 2rem;
  }
  .menu #container .left {
    height: -moz-fit-content;
    height: fit-content;
  }
  .menu #container .left a {
    font-size: 3.5rem;
  }
  .menu #container .right a {
    font-size: 1rem;
  }
  .menu #container .right .social_cnt img {
    width: 36px;
  }
  nav a img.black-logo {
    width: 10rem;
  }
}
.hero {
  padding: 12rem 10rem 0 4rem;
}
.hero .btn {
  width: 230px;
}
.btn {
  padding: 1.2rem 2rem;
  width: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  color: #8110f6;
}
.btn span {
  mix-blend-mode: difference;
  font-size: 1rem;
}
.btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #8110f6;
  border-radius: 0;
  transition: all 0.2s linear;
}
.btn:hover::before {
  height: 80px;
  width: 80px;
  background: #8110f6;
  filter: blur(10px);
  scale: 2;
  border-radius: 0;
}

footer {
  padding-top: 12rem;
}
footer #container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
footer #container .heading_cnt {
  width: 100%;
}
footer #container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 1px solid #000000;
  /*border-bottom: 1px solid #000000;*/
}
footer #container .wrapper .socialLink {
  position: relative;
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding: 2.2rem 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
footer #container .wrapper .socialLink img {
  width: 48px;
}
footer #container .wrapper .socialLink:hover {
  padding: 2.2rem 3rem;
  /*border-bottom: 1px solid #b9e9b3;*/
}
footer #container .wrapper .socialLink:last-child {
  border: none;
}
footer #container .copyrights {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}
.copyrights {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  & p {
    font-size: 1.2rem;
  }
}
footer .full {
  height: 16vw;
  overflow: hidden;
  opacity: 0.1;
}
footer .full h1 {
  font-size: 24.1vw;
}

.footerPTnone {
  padding-top: 0;
}

footer .full {
  height: auto;
  background-color: black;
  opacity: 1;
  margin-top: unset;
  padding: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}

.footer-left,
.footer-right {
  flex: 1 1 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  max-width: 900px;
}

.footer-nav-block {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-nav-block a {
  font-size: 1.4rem;
  transition: color 0.3s;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    color: #8110f6;
    text-decoration: underline;
  }
}

.footer-texts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-texts-block p {
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  opacity: 0.6;
}

.footer-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 620px;
  max-height: 780px;
  & svg {
    width: 80%;
    height: 100%;
  }
}
.footer-shadow {
  background-image: linear-gradient(169deg, #0000, #000 79%);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: auto auto 0 0%;
}
.footer-divider {
  width: 100%;
  height: 1px;
  background-color: white;
}
.footer-privacy-policy {
  font-size: 1.2rem;
  &:hover {
  text-decoration: underline;
}
}
@media (max-width: 1180px) {
  .footer-container {
    justify-content: center;
  }
  .footer-right {
    display: none;
  }
}
@media (max-width: 540px) {
  .footer-nav-block {
    gap: 20px;
    & a {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 780px) {
  footer #container .wrapper .socialLink {
    padding: 1.4rem 0;
  }
  footer #container .wrapper .socialLink img {
    width: 36px;
  }
  footer #container .wrapper .socialLink:hover {
    padding: 1.4rem 2rem;
  }
  footer #container .copyrights {
    gap: 1rem;
  }
}
@media (max-width: 520px) {
  footer {
    padding-top: 8rem;
  }
}
.parallax_img {
  overflow: hidden;
  width: 100%;
  border-radius: 0;
}
.parallax_img video,
.parallax_img img {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
.parallax_img img {
  width: 110%;
  height: 110%;
}
.parallax_img video {
  width: 100%;
  height: 100%;
}

@media (max-width: 520px) {
  .parallax_img {
    border-radius: 0;
  }
}
.heading_cnt {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 780px) {
  .heading_cnt {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
.Reels {
  height: 100vh;
}

@media (max-width: 1040px) {
  .Reels {
    height: 100vh;
    max-height: 768px;
  }
}
@media (max-width: 520px) {
  .Reels {
    height: 100vh;
    max-height: 510px;
  }
}
.about {
  padding: 12rem 0;
}
.about #container {
  height: 100%;
}
.about #container .txt {
  width: 100%;
  max-width: 620px;
}

.about_card {
  display: flex;
  gap: 1.2rem;
}
.about_card .card {
  width: 100%;
  background: white;
  border: 1px solid #393232;
  border-radius: 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  transition: background 0.3s ease-in-out;
}
.about_card .card h1 {
  font-size: 6rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: right;
  letter-spacing: -0.05em;
  color: #000000;
}
.about_card .card h4 {
  max-width: 150px;
  color: #000000;
}
.about-insertion-container {
  align-items: flex-start;
  text-align: justify;
  position: relative;
  max-width: 1200px;
}

.about_card .card:hover {
  background: #000000;
  & h1, h4 {
    color: #ffffff;
  }
}

@media (max-width: 1440px) {
  .about_card .card {
    padding: 2.2rem;
  }
  .about_card .card h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 1040px) {
  .about_card {
    flex-direction: column;
  }
  .about_card .card {
    gap: 7rem;
    padding: 3rem;
  }
}
@media (max-width: 520px) {
  .about {
    padding: 8rem 0;
  }
  .about .about_card .card {
    gap: 5rem;
    padding: 3rem 2rem;
  }
  .about .about_card .card h1 {
    font-size: 17vw;
  }
}
.work {
  padding-bottom: 12rem;
}
.work #container .wrapper {
  display: flex;
  gap: 5rem;
  width: 100%;
  max-width: 1100px;
  margin-left: 5rem;
}
.work #container .wrapper .col {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
}
.work #container .wrapper .col .card .parallax_img {
  height: 80vh;
  max-height: 600px;
  border-radius: 0;
}
.work #container .wrapper .col .card .parallax_img img {
  width: 110%;
}
.work #container .wrapper .col:nth-child(2) {
  margin-top: 20rem;
}

@media (max-width: 1440px) {
  .work #container .wrapper {
    margin-left: 0;
  }
}
@media (max-width: 1040px) {
  .work #container .wrapper {
    gap: 2rem;
  }
  .work #container .wrapper .col .card .parallax_img {
    max-height: 500px;
  }
  .work #container .wrapper .col .card .parallax_img img {
    width: 120%;
  }
}
@media (max-width: 780px) {
  .work #container .wrapper {
    flex-direction: column;
    gap: 5rem;
  }
  .work #container .wrapper .col {
    gap: 5rem;
  }
  .work #container .wrapper .col:nth-child(2) {
    margin-top: 0;
  }
}
@media (max-width: 520px) {
  .work {
    padding-bottom: 8rem;
  }
}
.clients #container .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.clients #container .wrapper h3 {
  width: 100%;
  max-width: 900px;
  color: black;
  font-weight: 200;
}
.clients .swiper {
  width: 100%;
  height: 80vh;
  max-height: 700px;
  padding: 0 30px;
}
.clients .swiper .swiper-slide {
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /*border: 1px solid #b9e9b3;*/
  border-radius: 0;
  padding: 4rem 2rem;
  transition: all 0.3s ease-in-out;
}
.clients .swiper .swiper-slide .top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.clients .swiper .swiper-slide .top p {
  font-size: 1.3rem;
  color: white;
}
.clients .swiper .swiper-slide .top h3 {
  color: white;
}
.clients .swiper .swiper-slide .bottom p {
  font-size: 1.3rem;
  color: white;
}
.clients .swiper .swiper-slide .bottom h5 {
  color: white;
}
.clients .swiper .swiper-slide:hover {
  border: 1px solid #1e1e1e;
}

@media (max-width: 520px) {
  .clients .swiper .swiper-slide {
    padding: 3rem 2rem;
  }
  .clients .swiper .swiper-slide .top p {
    font-size: 4.2vw;
  }
  .clients .swiper .swiper-slide:hover {
    border: 1px solid #1e1e1e;
  }
}
.dribbble {
  overflow: visible;
  padding: 0 0 12rem 0;
}
.dribbble .marquee {
  /*padding: 12rem 0;*/
}
.dribbble .marquee .marquee-container {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}
.dribbble .marquee .marquee-text,
.dribbble .marquee .marquee-text-reverse {
  flex-shrink: 0;
}
.dribbble .wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.dribbble .wrapper .content {
  max-width: 650px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.dribbble .wrapper .content img {
  width: 200px;
}
.dribbble .wrapper .dribImg {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 16vw;
  border-radius: 0;
}
.dribbble .wrapper .img1 {
  top: 1%;
  left: 8%;
}
.dribbble .wrapper .img2 {
  top: 30%;
  left: 1%;
}
.dribbble .wrapper .img3 {
  bottom: 1%;
  left: 12%;
}
.dribbble .wrapper .img4 {
  right: 10%;
  top: 8%;
}
.dribbble .wrapper .img5 {
  right: 1%;
  top: 35%;
}
.dribbble .wrapper .img6 {
  bottom: 0%;
  right: 12%;
}
.dribbble .wrapper .img7 {
  bottom: -8%;
  right: 28%;
}
.dribbble .wrapper .img8 {
  bottom: 0%;
  right: 38%;
}
.dribbble .wrapper .img9 {
  bottom: -8%;
  right: 57%;
}
.dribbble .wrapper .img10 {
  top: 0%;
  right: 65%;
}
.dribbble .wrapper .img11 {
  top: -5%;
  right: 45%;
}
.dribbble .wrapper .img12 {
  top: 0%;
  right: 22%;
}

@media (max-width: 1040px) {
  .dribbble .wrapper {
    height: 100vh;
    max-height: 900px;
  }
  .dribbble .wrapper .dribImg {
    width: 30vw;
  }
  .dribbble .wrapper .img1 {
    left: 4%;
  }
  .dribbble .wrapper .img2 {
    top: 40%;
  }
  .dribbble .wrapper .img3 {
    left: 10%;
  }
  .dribbble .wrapper .img4 {
    right: 5%;
  }
  .dribbble .wrapper .img5 {
    right: 1%;
    top: 45%;
  }
  .dribbble .wrapper .img6 {
    right: 15%;
  }
}
@media (max-width: 520px) {
  .dribbble .marquee {
    padding: 8rem 0;
  }
  .dribbble .wrapper {
    height: -moz-fit-content;
    height: fit-content;
  }
  .dribbble .wrapper .content img {
    width: 150px;
  }
  .dribbble .wrapper .dribImg {
    display: none;
  }
}
.about_whoWeAre {
  padding: 12rem 0;
}
.about_whoWeAre #container h5 {
  max-width: 848px;
  width: 100%;
}
.about_whoWeAre #container h1 {
  opacity: 1;
}
.about_whoWeAre #container .txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 1px solid #000000;
}
.about_whoWeAre #container .txt p {
  max-width: 900px;
  width: 100%;
}

@media (max-width: 520px) {
  .about_whoWeAre {
    padding: 8rem 0;
  }
}
.about_team .wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  width: 140vw;
  margin-left: -28vw;
}
.about_team .wrapper img {
  width: 28vw;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  filter: brightness(80%);
}

@media (max-width: 1440px) {
  .about_team .wrapper {
    width: 175vw;
    margin-left: -35vw;
  }
  .about_team .wrapper img {
    width: 35vw;
    max-height: 550px;
  }
}
@media (max-width: 868px) {
  .about_team .wrapper {
    width: 275vw;
    margin-left: -55vw;
  }
  .about_team .wrapper img {
    width: 55vw;
  }
}
@media (max-width: 520px) {
  .about_team .wrapper {
    width: 450vw;
    margin-left: -90vw;
  }
  .about_team .wrapper img {
    width: 90vw;
  }
}
.about_experiences {
  padding-top: 12rem;
}
.about_experiences #container .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about_experiences #container .wrapper .card {
  border: 1px solid #393232;
  border-radius: 0;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: black;
  transition: all 0.3s ease-in-out;
  color: white;
}
.about_experiences #container .wrapper .card p {
  opacity: 0.5;
  color: #ffffff;
}

.cat p {
  margin-top: 2rem !important;
  opacity: 1 !important;
}
.exp-card-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  gap: 1rem;
}
.exp-card-photo {
  background-color: #3b3f47;
  border-radius: 100%;
  width: 74px;
  height: 74px;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 74px;
  min-height: 74px;
  & img {
    object-fit: cover;
    border-color: #0000001a;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 57.2272px #0000000d;
  }
}
.about_experiences #container .wrapper .card > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.about_experiences #container .wrapper .card > div h5 {
  background: #8110f6;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_experiences #container .wrapper .card > div p {
  opacity: 1;
  color: #ffffff;
  & p {
    color: #ffffff;
  }
}

.about_experiences #container .wrapper .card:hover {
  border: 1px solid #393232;
  background-color: white;
  color: black;
  & p {
    color: #000000;
  }
  & h5 {
    color: black;
  }
}

.about-contractors-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 5rem;
}

.about-contractor {
  filter: grayscale();
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 46px;
  display: flex;
}

@media (min-width: 1920px) {
  .about_experiences #container .wrapper .card > div {
    gap: 2rem;
  }
}
@media (max-width: 1440px) {
  .about_experiences #container .wrapper {
    gap: 1.6rem;
    grid-template-columns: 1fr;
  }
  .about-contractors-wrapper {
    justify-content: flex-start;
  }
}
@media (max-width: 520px) {
  .about_experiences {
    padding-top: 8rem;
  }
  .about_experiences #container .wrapper {
    gap: 1.6rem;
    grid-template-columns: 1fr;
  }
  .about_experiences #container .wrapper .card {
    padding: 3rem 2rem;
  }
  .about_experiences #container .wrapper .card > div {
    gap: 0.6rem;
  }
}
.awwards #container h5 {
  max-width: 800px;
  width: 100%;
}
.awwards #container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.awwards #container .wrapper .awwards_block {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 0;
  border-bottom: 1px solid #000000;
  transition: all 0.3s ease-in-out;
}
.awwards #container .wrapper .awwards_block .awwards_name {
  display: flex;
  gap: 0.5rem;
}
.awwards #container .wrapper .awwards_block:hover {
  padding: 2.2rem 2rem;
}

@media (max-width: 620px) {
  .awwards #container .wrapper .awwards_block {
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
  .awwards #container .wrapper .awwards_block .awwards_name {
    gap: 0.8rem;
  }
}
.about_clients {
  padding: 12rem 0;
}

@media (max-width: 520px) {
  .about_clients {
    padding: 8rem 0;
  }
}

.careers-top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.careers-top-text p {
  font-size: 1.2rem;
}


.joinTeam {
  padding-bottom: 12rem;
}
.joinTeam #container h5.mT2 {
  width: 100%;
  max-width: 700px;
}
.joinTeam .wrapper #container h5 {
  width: 100%;
  /*max-width: 1000px;*/
  text-align: left;
}
.joinTeam .wrapper #container h4 {
  font-weight: 400;
  text-transform: none;
}
.joinTeam .wrapper #container .join_card_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.joinTeam .wrapper #container .join_card_wrapper .card {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 350px;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  background: #ffffff;
  border: 1px solid #393232;
  color: #000000;
  padding: 5.6rem 4rem;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}
.joinTeam .wrapper #container .join_card_wrapper .card .btn {
  opacity: 0;
  height: 0;
  padding: 0;
  align-self: center;
  margin-top: -3rem;
}
.joinTeam .wrapper #container .join_card_wrapper .card:hover {
  & .btn {
    opacity: 1;
    height: unset;
    padding: 1.2rem 2rem;
    transition: all 0.3s ease-in-out;
    margin-top: 0;
  }
}

.news-date-topic-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  align-self: flex-start;
  margin-top: -1.5rem;
  & p {
    white-space: nowrap;
    opacity: 0.6;
  }
}

.news-divider {
  width: 100%;
  height: 1px;
  background-color: white;
}

@media (max-width: 1600px) {
  .joinTeam .wrapper #container .join_card_wrapper {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}
@media (max-width: 1150px) {
  .joinTeam .wrapper #container .join_card_wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 868px) {
  .joinTeam .wrapper #container .join_card_wrapper .card br {
    display: none;
  }
}
@media (max-width: 600px) {
  .joinTeam .wrapper #container .join_card_wrapper .card {
    gap: 2rem;
  }
}
@media (max-width: 520px) {
  .joinTeam {
    padding-bottom: 8rem;
  }
  .joinTeam .wrapper #container .join_card_wrapper .card {
    & .btn {
      opacity: 1;
      height: unset;
      padding: 1.2rem 2rem;
      transition: all 0.3s ease-in-out;
    }
  }
}
.insights_Office {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.insights_Office .horizontal_scroll {
  width: auto;
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 270vw;
  height: 60vh;
}
.insights_Office .horizontal_scroll img {
  flex-shrink: 0;
  width: 45vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}

@media (max-width: 1440px) {
  .insights_Office .horizontal_scroll {
    max-height: 550px;
    width: 330vw;
    gap: 2rem;
  }
  .insights_Office .horizontal_scroll img {
    width: 55vw;
  }
}
@media (max-width: 868px) {
  .insights_Office .horizontal_scroll {
    width: 450vw;
  }
  .insights_Office .horizontal_scroll img {
    width: 75vw;
  }
}
@media (max-width: 520px) {
  .insights_Office .horizontal_scroll {
    width: 780vw;
  }
  .insights_Office .horizontal_scroll img {
    width: 130vw;
  }
}
.team {
  padding: 12rem 0 0 0;
}
.team #container h5.mT2 {
  width: 100%;
  max-width: 700px;
}
.team #container .team_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
}

.team_card {
  position: relative;
  overflow: hidden;
}

.parallax_img {
  position: relative;
  overflow: hidden;
  aspect-ratio: 3/4;
}

.parallax_img img {
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
}

.card_info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  color: #000;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  overflow: hidden;
  z-index: 2;
}

.card_info h4 {
  text-transform: unset;
  font-weight: 400;
  margin: 0 0 0.5rem;
}

.card_info h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

.about-person-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  overflow: hidden;
}

.team-hidden-content {
  min-height: 0;
}

.card_info p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
}

.team-lnk-icon {
  width: 28px;
  height: 28px;
  object-fit: cover;
  object-position: center;
  margin-top: 10px;
}
.card_info a {
  margin: 0;
  overflow: hidden;
}
.card_info a:hover #lnk-bg  {
  fill: #007EBB;
}

.team_card:hover .about-person-wrapper {
  grid-template-rows: 1fr;
}

@media (max-width: 1440px) {
  .team #container .team_wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .parallax_img {
    aspect-ratio: 4/5;
  }
}

@media (max-width: 960px) {
  .team #container .team_wrapper {
    grid-template-columns: 1fr;
  }
  .parallax_img {
    padding: 1rem;
  }
}

@media (max-width: 520px) {
  .parallax_img {
    aspect-ratio: 2/3;
  }
}
.services {
  margin-top: 12rem;
}
.services #container {
  display: flex;
  gap: 4rem;
  overflow-y: hidden;
}
.services #container .sticky_scroll {
  width: 100%;
}

.sticky_scrolling {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  z-index: 1;
}
.sticky_scrolling .card {
  background: #ffffff;
  border: 1px solid #393232;
  padding: 4rem 3rem;
  border-radius: 0;
}
.sticky_scrolling .card h3 {
  line-height: 80%;
}
.sticky_scrolling .card p {
  margin-top: 1rem;
  opacity: 0.5;
}

@media (max-width: 1400px) {
  .services #container {
    gap: 4rem;
    flex-direction: column;
  }
  .sticky_scrolling {
    gap: 1.6rem;
  }
}
@media (max-width: 520px) {
  .services {
    margin-top: 8rem;
  }
  .services .sticky_scrolling .card {
    padding: 3rem 2rem;
  }
}
.contact {
  padding-bottom: 12rem;
}
.contact #container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact #container .heading_cnt {
  width: 100%;
}
.contact #container .wrapper {
  max-width: 900px;
  width: 100%;
}
.contact #container .wrapper p {
  margin-top: 1rem;
}
.contact #container .wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contact #container .wrapper form input[type=text],
.contact #container .wrapper form input[type=email],
.contact #container .wrapper form input[type=tel],
.contact #container .wrapper form textarea {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  font-size: 1.2rem;
  color: #000000;
  font-family: Lexend, sans-serif;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.contact #container .wrapper form input[type=text]:focus,
.contact #container .wrapper form input[type=email]:focus,
.contact #container .wrapper form input[type=tel]:focus,
.contact #container .wrapper form textarea:focus {
  border-bottom: 1px solid #8110f6;
}
.contact #container .wrapper form textarea {
  resize: vertical;
  height: 200px;
}
.contact #container .wrapper form .inputSub {
  padding: 1.2rem 2rem;
  margin-top: 2rem;
  width: 180px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}
.contact #container .wrapper form .inputSub .inputBlur {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #8110f6;
  border-radius: 0;
  transition: all 0.2s linear;
}
.contact #container .wrapper form .inputSub input[type=submit] {
  background: none;
  outline: none;
  color: #8110f6;
  border: none;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s linear;
}
.contact #container .wrapper form .inputSub:hover .inputBlur {
  height: 60px;
  width: 60px;
  background: #8110f6;
  filter: blur(10px);
  scale: 2;
  border-radius: 0;
}

@media (max-width: 900px) {
  .contact #container .wrapper form textarea {
    resize: vertical;
    height: 300px;
  }
}
@media (max-width: 520px) {
  .contact {
    padding-bottom: 8rem;
  }
}
header {
  position: relative;
  padding-bottom: 4rem;
  width: 100%;
}
header #container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
header #container h2 {
  width: 100%;
  max-width: 1000px;
}
header #container p {
  max-width: 620px;
  text-transform: capitalize;
  margin-top: 1rem;
  font-size: 1.2rem;
}

header .hero_lightning {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  opacity: 0.3;
  z-index: -1;
}

#full_img {
  position: relative;
}
#full_img .parallax_img {
  height: 110vh;
  border-radius: 0;
}
#full_img .parallax_img img {
  filter: brightness(50%);
}
#full_img h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

@media (max-width: 1040px) {
  #full_img .parallax_img {
    height: 100vh;
  }
}/*# sourceMappingURL=main.css.map */